flask>=3.0
flask-Login>=0.6
flask-SQLAlchemy>=3.1
Flask-Admin>=1.6 
Flask-WTF
werkzeug>=3.0 
gunicorn==21.2.0
pytz
calplot
pandas
matplotlib
seaborn
scipy
numpy
altair
IPython
plotly==5.15.0
pdfkit
requests
LAMP-core
LAMP-cortex @ git+https://github.com/BIDMCDigitalPsychiatry/LAMP-cortex.git@master
python-dotenv
boto3>=1.34.0